<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">

    <h2>Sign up</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
        <%= f.input :password_confirmation, required: true %>

        <%= f.input :profile_name %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>

      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div> <!--This is the first half of the layout -->
  <h1>The Pirates Code</h1>
  <div class="col-md-6 col-sm-6 col-xs-6" id="pcode">
    

    <p><h2>Ye Golden Rules of Ye’ Ol’ Internet</h2></br><p/>

    <p>Speaking of Computer Ethics me lads tis’ about a sailor or a crew’s honourable behaviour when on ye computer.</br> 
    Duplicating’ and Wanderin’ in another man’s most beloved booty without his “aye or yarr” are examples of violating ye golden rule.<p/>

    <p>Internet Ethics for every sailor in the Seven Seas</br>
    Tis’ defined as a normal sailor’s respect, coutesy for every member of his crew on his ship.<p/>

    <p><h3>Acceptance</h3></br>
    Avast ! Ye Internet is dangerous like sailing The Seven Seas, Tis the broadest sea yet to be sailed. Black spots are to be spotted among its map. A sailor must know when sailing ye Internet is not afar from the pirate’s code but tis a primary component of it. </br>
    Sensitivity to National and Local Cultures
    Ye’ Internet belongs to all the pirates who sail in it. Tis like Rum we drink with ol’ our mateys when we capture the booty. <p/>

    <p>While using Email and Chatting</br>
    Tis to be used for chattering with fellow hearties, our mateys and ‘specially family. Avoid gibberish from pirates not part of the crew. And we should teach our lads and lassies when chattering with pirates in Ye’ Internet.<p/>

    <p>Pretending to be someone else</br>
    Avast ! Impostors are to walk the plank ! Be true to your identity with fellow sailors. Tis’ considered to be a crime and a risk to fellow shipmates. Teach the lads and lasses be not a fraud for they are. </br>
    Avoid Bad Language</br>
    Another pirate’s opinion must be acknowledged and respected. Usage of Inappropriate language is to be avoided. So listen up you sharp-tongued scallywags! Y’all be cleaning up the poopdeck with that language. </br>
    Hide Personal Information</br>
    Shiver Me Timbers! Lads and lassies. You shall not give your personal information to unknown pirates. Avoid giving your Phone Numbers, Interests, Passwords. For they’ll steal your own booty and use it for their selfish will. <p/>

    <p>While Downloading</br>
    Ye’ Internet is for listening jolly good melodies. Tis also used for watching videos and play games. Downloading and sharing them must be avoided. Lads and lassies should be aware of the importance of copyright and issues of copyright.</br>
    Supervision</br>
    Sailors must know what his lads and lassies sail in Ye’ Internet. Parental Supervision is advised to the newcomers of the sea. If they were to come about to a black spot. Restrict them. And make them follow the Pirate’s code.</br>
    Encourage children to use Ye’ Internet</br>
    We pirates must encourage our lads and lassies to sail the seas. Such as to sail Ye’ Internet. Tis a great tool for learning and searching for booty. Arrrrr!<p/>

    <p>Access To Ye’ Internet</br>
    Sailing in Ye’ Internet gives sailors lots o’ benefits. It gives the sailor knowledge, learn new routes, and information to his booty. Tis also develop a sailor’s skill in sailing the Ye’ Internet. Lads and Lassies will be able to use this for classroom projects and exercises and even the Capn’s assignment. Much to say that tis a truly a wonderful sea to hoist our flags and set sail.<p/>

    <p>Ethical rules for Computer Users</br>
    Some of the rules that sailors who use the computer should follow:</br>
    • Do not use the computer to harm other sailors.</br>
    • Do not use the computer to steal another’s booty</br>
    • Do not Barge in his treasure trove without the “Aye” of the owner.</br>
    • Do not copy copyrighted software without the owner’s “Aye”</br>
    • Always respect copyright laws and policies</br>
    • Respect the privacy of fellow seamen just as you expect the same from others.</br>
    • Sail Ye’ Internet ethically.</br>
    • Let the cap’n know about illegal communication and activities.</br>
    • Sailors are responsible for safeguarding his bounty. For he shall not write them on pen and paper or anywhere else a remembrance.</br>
    • Sailors shall not intentionally use another man’s loot for his own personal intentions.<p/>


  </div>

  </div>
</div>