<!DOCTYPE html>
<html>
<head>
  <title>Facebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<!--This is for the navigation bar -->
	<div class="navbar navbar-default navbar-fixed-top">
      	<div class="container">
        	<div class="navbar-header">
          		<a class="navbar-brand" href="#">Rig Pirate</a>
        	</div>

        	<div class="navbar-collapse collapse">          	
	        	<ul class="nav navbar-nav">
			    	<li class="active"><%= link_to "All statuses", statuses_path %></li>
			    </ul>

          <ul class="nav navbar-nav  navbar-right">
            <li><%= link_to "Signup", new_user_registration_path  %></li>
          </ul>
        	</div><!--/.nav-collapse -->
      	</div>
    </div>
    <!--This is the end for the navigation bar -->



<div class="container" id="aletz">
      <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>


<%= yield %>

</div>


</body>
</html>
